apiVersion: v1
kind: ConfigMap
metadata:
  name: flink-config
  namespace: fluss
data:
  flink-conf.yaml: |
    jobmanager.rpc.address: flink-jobmanager
    jobmanager.rpc.port: 6123
    jobmanager.memory.process.size: 1600m
    taskmanager.memory.process.size: 1728m
    taskmanager.numberOfTaskSlots: 2
    parallelism.default: 2
    blob.server.port: 6124
    queryable-state.server.ports: 6125
    
    # High availability - Disabled for single JobManager setup
    # Uncomment below if you need HA with multiple JobManagers
    # high-availability.type: zookeeper
    # high-availability.zookeeper.quorum: zk-svc.fluss.svc.cluster.local:2181
    # high-availability.zookeeper.path.root: /flink
    # high-availability.storageDir: file:///tmp/flink/ha
    
    # Metrics - Prometheus Reporter (Flink 1.20.3 uses factory class)
    metrics.reporter.prom.factory.class: org.apache.flink.metrics.prometheus.PrometheusReporterFactory
    metrics.reporter.prom.port: 9249
    metrics.reporters: prom

